<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="redisUrl" value="localhost:6379" />
    <add key="marvelPrivateKey" value="39c537059ba35b0245de55947f64976c6e3eff84"/>
    <add key="marvelPublicKey" value="de057f1f51e36402aeeafea0fd5a5936"/>
    <add key="servicestack:license" value="1026-e1JlZjoxMDI2LE5hbWU6UGF0cmljayBQYWFzY2gsVHlwZTpCdXNpbmVzcyxIYXNoOmgvbTl6V05jQWJSSHBvdS9QUTNyUzRQZ2NSY1VaeWljWTlLcTd4cmJBWXpsWVJWL0NSdUM5QkttazNuc3JjbjBIWklCWkZTVkVVcDRhallEOGdCdE16UjBiQitTeHFNMDluZHJwbCsxbWtwNmFSTXN4MklHSzA2c200NGs5Y3VCTzQrVEdNLzRwRHk2aEJYWE5idTYvRHRZMEluTk9FMHFqaURTVFdLamJVbz0sRXhwaXJ5OjIwMTUtMDItMDJ9" />
  </appSettings>
</configuration>