@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<script>
    
    function ComicCtrl($scope, $http) {
        $scope.comicWrapper = {data: {results:[]}};
        var results = $http.get('api/comics');
        results.success(function (data) {
            $scope.comicWrapper = data;
        });
    }

</script>

<div ng-app>
    <div ng-controller="ComicCtrl">
        <table class="table table-striped">
        <tbody>
        <tr data-ng-repeat="comic in comicWrapper.data.results">
            <td>
                    {{comic.title}} - {{comic.description}}
            </td>
            <td>
                <img ng-src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}" style="width:50%; height: auto"/>
            </td>
        </tr>
        </tbody>
        </table>
    </div>
</div>
