@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<script>
    
    function ComicCtrl($scope, $http) {
        $scope.comicWrapper = { data: { results: [] } };
        $scope.characters = {};
        var results = $http.get('api/comics');
        results.success(function (data) {
            $scope.comicWrapper = data;
            for (var i = 0; i < data.data.results.length; i++) {
                $http.get('api/comics/' + data.data.results[i].id + '/characters', { comicid: data.data.results[i].id })
                    .success(function (characters, a, b, c) {
                        $scope.characters[c.comicid] = characters;
                });
            }
        });

        $scope.getCharacters = function(comicId) {
            var names = "";
           angular.forEach($scope.characters[comicId].data.results, function(val, key) {
               names += val.name + ", ";
           });

            alert(names);
        };

        $scope.showImageModal = function(thumbnail) {
            //alert('hi');
            $scope.modalImagePath = thumbnail.path + "." + thumbnail.extension;
            $('#myModal').modal('show');
        };
    }

</script>

<div ng-app>
    <div ng-controller="ComicCtrl">
        <table class="table table-striped">
            <tbody>
                <tr data-ng-repeat="comic in comicWrapper.data.results">
                    <td>
                        {{comic.title}} - {{comic.description}}
                        <p>
                            <button ng-click="getCharacters({{comic.id}})">Characters</button>
                        </p>
                    </td>
                    <td>
                        <img ng-src="{{comic.thumbnail.path}}/portrait_small.{{comic.thumbnail.extension}}" ng-click="showImageModal(comic.thumbnail)"/>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <div id="myModal" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Title</h4>
              </div>
              <div class="modal-body">
                  <img ng-src="{{modalImagePath}}"/>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</div>
