@{
    ViewBag.Title = "Story";
}

<h2>Story</h2>

<div ng-app>
    <div ng-controller="StoryCtrl">

        <div class="row">
            <div class="span4">
                <div id="storyText">
                    <div ng-repeat="ln in storyText">
                        {{ln}} 
                    </div>
                </div>
                
                <div class="form-inline" role="form">
                    <div class="form-group">
                        <input type="text" class="form-control" id="command" ng-model="user.command">
                        <button class="btn btn-default" ng-click="receiveCommand()">Send</button>
                    </div>
                </div>
            </div>
            
            <div class="span5">
                <div id="comicIds">
                    <input type="text" ng-model="room.ComicIds" style="width:275px"/>
                </div> 
                <div id="cover">
                    <img ng-src="{{comic.thumbnail.path}}/portrait_uncanny.{{comic.thumbnail.extension}}"/>
                </div>

                <p id="comicTitle"> </p>
                <p id="characters"> </p>

            </div>

        </div>

    </div>
</div>

<script>
    function StoryCtrl($scope, $http) {
        $scope.storyText = [];
        $scope.room = {};
        $scope.comic = {};
        $scope.storyText.push(["Can you help me find some comics"]);

        $scope.sendCommand = function(output) {
            $scope.storyText.push(output);
        };

        $scope.receiveCommand = function () {
            var cmdLower = $scope.user.command.toLowerCase();
            var directions = ['n', 's', 'e', 'w'];
            if (directions.indexOf(cmdLower) !== -1) {
                var roomId = $scope.room.Neighbors[cmdLower.toUpperCase()];
                setRoom(roomId);
                return;
            }

            if (cmdLower.lastIndexOf('look', 0) === 0) {
                var comicId = cmdLower.replace('look ', '');
                setComic(comicId);
            }
        };

        var roomRequest = $http.get("/api/room?findId=ccea3783-e5c4-40a0-ae01-3d17824f8b31");
        roomRequest.success(function(data) {
            $scope.room = data;
        });

        function setRoom(roomId) {
            var roomRequest = $http.get("/api/room?findId=" + roomId);
            roomRequest.success(function(data) {
                $scope.room = data;
                $scope.sendCommand($scope.room.Description);
            });
        }
        
        function setComic(comicId) {
            var comicRequest = $http.get("/api/comics/local/" + comicId);
            comicRequest.success(function(data) {
                $scope.comic = data;
                var _characters = "";
                var delim = "";
                angular.forEach(data.characters.items, function(value, key) {
                    _characters += delim + value.name;
                    delim = ", ";
                });
                $('#comicTitle').html(data.title);
                $('#characters').html(_characters);
            });
        }
    }
</script>